@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  gap: 1rem;
}

.navbar h1 {
  color: #ff793f;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #ff793f;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 30px;
  color: #3c6382;
  margin-bottom: 8px;
  opacity: 0.7;
}

.loading {
  font-size: 50px;
  color: #ff793f;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 30px;
  color: #3c6382;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 30px 0;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background-color: #ff793f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}